<link rel="stylesheet" href="../style/index.style.css">
</main>
<<<<<<< HEAD
<footer>
    <p id="footerPar">
      Made by The Strangers  &copy; - 2022
    </p>
</footer>
=======
<footer>The Strangers © 2021 - 2022 Alle rechten voorbehouden</footer>

>>>>>>> 60ce9dd82b4c96ea8771e4cec36af6b544eab323

