<html>
    <head>
        <title>NBB</title>
       <link rel="stylesheet" href="/style/index.style.css">
       <link rel="stylesheet" href="/style/bedrijfOutput.style.css">
       <link rel="stylesheet" href="/style/responsive.style.css">
    </head>
    <body>
        <header class="container lg mx-auto border-b-2 border-black mb-5 pb-2">
            <h1 class="text-xl italic mb-5">De NBB - API </h1>


            <nav class="container mx-auto">
                <a href="/" class="mr-2 font-light hover:font-semibold">Home</a> <a href="/history" class="mr-2 font-light hover:font-semibold">History</a>
            </nav>

             
        </header>
        <main class="container w-3/4 mx-auto pt-5">

            
