

<form class="container w-4/5 mx-auto flex flex-row justify-between">
    <div class="basis-4/10">
      <label for="Ondernemingsnummer_1">Ondernemingsnummer:</label>
      <input value="Ondernemingsnummer_1" type="number" id="Ondernemingsnummer_1" name="Ondernemingsnummer_1" class="border border-black rounded-md text-xs px-1 py-1 ml-1" placeholder="0403101811">
    </div>     
    <div class="basis-1/10">
      
      <button value="mybutton1" onClick='test()' id="VergelijkButton" class="px-3 py-1 text-xs border border-black bg-gray-200 rounded-md active:bg-gray-300 active:px-2" type="button">Vergelijk</button>
</div>
<div class="basis-4/10">
    <label for="Ondernemingsnummer_2">Ondernemingsnummer:</label>
    <input type="number" id="Ondernemingsnummer_2" name="Ondernemingsnummer_2" class="border border-black rounded-md text-xs px-1 py-1 ml-1" placeholder="0406603610">
</div>
</form>

<script>
  function showUserInput_1(){
    let Ondernemingsnummer_1 = document.getElementById("Ondernemingsnummer_1").value;
    return Ondernemingsnummer_1;
}
function showUserInput_2(){
    let Ondernemingsnummer_1 = document.getElementById("Ondernemingsnummer_2").value;
    return Ondernemingsnummer_1;
}

VergelijkButton.onclick = function(){
    if(document.getElementById("Ondernemingsnummer_1").value.length != 10 || document.getElementById("Ondernemingsnummer_2").value.length != 10 )
        {
            alert(" Ongeldig ondernemingsnummer! Controleer je invoer: \n Bestaat het ondernemingsnummer uit exact 10 cijfers")
        }
    
    else
    {
        showUserInput_1();
        showUserInput_2();
        
      if(showUserInput_1 && showUserInput_2 ){
        let url = 'http://localhost:3000/bedrijfOutput/' + showUserInput_1() + '/' + showUserInput_2() + '';
        console.log(url);
        location.href = url;
      }else if(showUserInput_1 && !showUserInput_2 ){
          console.log('enkel den eerste');
      }

    }
}
</script>

