<!DOCTYPE html>
<html lang="NL-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeschiedenisPageDetail</title>
</head>
<body>
<div>
    <p><strong>Naam</strong> TALENT-IT <br>
        <strong>Adres</strong> Houtdok-Noordkaai 12 <br>
        2030 Antwerpen <br>
        <br>

        <strong>Datum neerlegging</strong> 16/09/2021 <br>
        <strong>Eigen vermogen</strong> 7.686.379 <br>
        <strong>Schulden</strong> 7.262.651 <br>
        <strong>Bedrijfswinst</strong> 1.591.349 <br>
    
    </p>
</div>
    
</body>
</html>