<html>
    <head>
        <title>NBB</title>
    </head>
    <body>
        <header>
            <h1>NBB - API </h1>
            <nav>
                <a class="nav" href="/"> Home</a> <a class="nav" href="/history">History</a> 
            </nav>
            
        </header>
        <main>
