<%-
include('header'); 
%>
 <section class="border-8 border-gray mb-10">
    <input type="text" placeholder="Search.." class="w-full text-center py-2">
 </section>
 
 <section  class="w-3/4 mx-auto flex border-b-2 border-gray pb-4 mb-5">
    <img src="images/gray_circle.png" class="w-1/12">

    <section  class="w-10/12">
    <table class="ml-2" >
        <tr>
            <td class="font-bold w-full">
             <a href="/history_detail">   TALENT-IT</a>
            </td>
            <td class="text-[color:gray]"> 02/03/2022</td>
        </tr>
        <tr>
            <td class="text-[color:gray]">
               Houtdok-Noordkaai 12 
            </td>
        </tr>
        <tr>
            <td class="text-[color:gray]">
                2030 Antwerpen
            </td>
        </tr>
    </table>
    
    </section>

 </section>

 <section  class="w-3/4 mx-auto flex border-b-2 border-gray pb-4">
    <img src="images/gray_circle.png" class="w-1/12">

    <section  class="w-10/12">
    <table class="ml-2" >
        <tr>
            <td class="font-bold w-full">
                AllPhi
            </td>
            <td class="text-[color:gray]"> 05/03/2022</td>
        </tr>
        <tr>
            <td class="text-[color:gray]">
                Nijverheidsstraat 13
            </td>
        </tr>
        <tr>
            <td class="text-[color:gray]">
                2260 Westerlo
            </td>
        </tr>
    </table>
    
    </section>

 </section>
 

</body>
</html>