<%-
include('header'); 
%>

<h2> History </h2>  
<div>
    <p><strong>Naam</strong> TALENT-IT <br>
        <strong>Adres</strong> Houtdok-Noordkaai 12 <br>
        2030 Antwerpen <br>
        <br>

        <strong>Datum neerlegging</strong> 16/09/2021 <br>
        <strong>Eigen vermogen</strong> 7.686.379 <br>
        <strong>Schulden</strong> 7.262.651 <br>
        <strong>Bedrijfswinst</strong> 1.591.349 <br>
    
    </p>
</div>
    
</body>
</html>