<%-
include('header'); 
%>
    <form>
        <label for="Ondernemingsnummer">Ondernemingsnummer:</label>
        <input type="text" id="Ondernemingsnummer" name="Ondernemingsnummer">
        <button type="button">Vergelijk</button>
        <label for="Ondernemingsnummer">Ondernemingsnummer:</label>
        <input type="text" id="Ondernemingsnummer" name="Ondernemingsnummer">
      </form>
</main>
</body>
</html>